/*main css*/
body{
	background-color: #fcf2e4;
	width: 75%;
	margin: 2px;
	margin-top: 2px;
	padding: 3px;
	font-family: "Times New Roman";
	font-style: bold;
}
#headerimg{
	width: 200px;
	height: 91px;

}
#mainNav{
	display: none;
}

/*item desc page*/
#content{
	width: 100%; 
	margin-top: 105px; 
	float: none;
}
fieldset {
    border: 0;
}
#noprint{
	display: none;
}
#print{
	visibility: ;
}
#descImg{
	float: left;
	width: 650px;
	height: 350px;
	margin-left: 10px;
} 
.descImg{
	width:600px;
	height: 285px;
}

#descList{
	float: left;
	display: inline;
	width: 650px;
	height: 100%;
	margin-left: 10px;
}
/*footer and side*/
#side{
	display: none;
}
#printside{
	position: absolute;
	right: 240px;
	display: inline;
	top: 0px;
	
}
#footer{
	width: 100%;
	display: inline;
}
/*.footer{
	width: 200px;
}*/
#footer fieldset{
	border: none;
	display: inline;
	width: 100%;
	margin-top: 10px;
}
#footerInfo{
	position: relative;
	left: 5px;
	bottom: 10px;
}
#jFoot{
	
	margin-left: 10px;
	float: left;
	text-align: center;
}
#dFoot{
	
	float: left;
	display: inline;
	text-align: center;
	margin-left: 10px;
}
#mlsimg{
	position: absolute;
	width: 85px; height: 40px;
	margin: 5px;
	right: 5px;

}
#equalimg{
	position: absolute;
	width: 75px; height: 50;
	margin: 5px;
	right: 100px;
}
.back{
	display: none;
}
.print{
	display: none;
}
#noprint{
	display: none;
}

#more{
	display: none;
}
.manageMenu{
	display: none;
}
.adminMenu{
	display: none;
}
.delete:link{
	display: none;
}
.edit:link{
	display: none;
}
.addPhotos:link{
	display: none;
}